<div class="container">
  <h1>INSURANCE COMPANY DETAILS</h1>
  <table class="table table-striped">
  
  <th>companyName</th><br>
  <th>companyMobileno</th><br>
  <th>companyWebsite</th><br>
  <th>companyEmail</th><br>
  <th>companyLocation</th><br>
  <th>companyFax</th><br>
  <th>address</th><br>
  <th>city</th><br>
  <th>state</th><br>
  <th>country</th><br>
    <tbody >
      
      <tr *ngFor='let icmp of comp'>
        <td>{{icmp.companyName}}</td><br>
        <td>{{icmp.companyMobileno}}</td><br>
        <td>{{icmp.companyWebsite}}</td><br>
        <td>{{icmp.companyEmail}}</td><br>
       <td>{{icmp.companyLocation}}</td><br>
      <td>{{icmp.companyFax}}</td><br>
      <td>{{icmp.address.areaName}}</td><br>
      <td>{{icmp.address.city.cityName}}</td><br>
      <td>{{icmp.address.city.citystate.stateName}}</td><br>
      <td>{{icmp.address.city.citystate.country.countryName}}</td><br>
      
      </tr>
    </tbody>
    </table>
</div>

<br/>
<button routerLink="insurancecompanyadd">CREATE NEW COMPANY</button>
<br/>
<router-outlet></router-outlet>